<!DOCTYPE html>
<html lang="en">
</head>

<body>

<div class="middle-text">
	<p class="text-content">I am a maker at heart. From develoving challenging software-hardware projects such as robots 
		and IoT systems to small weekends trying new concepts and ideas to automatize tasks in my life. - I love to build.
	</p>

	<p class="text-content">
		I studied Electronic Technologis and Electronic Engineering at University of Quindio.
	</p>

	<p class="text-content">
		Along my carear I have faced a lot of projects in order to develop a solve-problems mindset, which I have had the
		opportuny to work with embebbed systems based on Linux software, Data bases and neural networks. One of my biggest
		projects was the idea of creating a new way of save waste in a smart way and help enviroment with technology.
		I developed an IoT embebbeded system with Node-Red, built the database and programmed the hardware to make sure the waste
		is perfectly saved in underground containers. 
	</p>

	<p class="text-content">
		I've also worked on creating a neuronal network that recognizes and identifies my voice from others, deployed on
		a smarthphone and a bit mobile apps development, especially in kotlin.
	</p>
	<p class="text-content">
		I'm a Deep Learning student (on my own), I'm learning to speak French, 
		I'm writting a novel and am a content creator on the internet where I share my projects. 
	</p>
	</p>

	<p class="text-content">Let's get in touch!</p>

	<p class="text-content">Joel Soto</p>

	<!--<p class="text-content"><a href="timeline">For more about me, my timeline, read on here.</a></p> -->

	<br>
</div>
</div>
</div>
</body>

</body>
</html>